<div class="row">
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable">
      fsadfsda
    </div>
  </div>
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
  </div>
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
  </div>
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
  </div>
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
  </div>
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable"> Hoverable Card Panel</div>
  </div>
</div>
