<!--
<md-grid-list cols="3" rowHeight="100px" gutterSize="5px">
  <md-grid-tile [colspan]="2" [rowspan]="3">
      sss
  </md-grid-tile>
  <md-grid-tile [rowspan]="3">
    sss
  </md-grid-tile>

  <md-grid-tile [colspan]="2" [rowspan]="3">
    Atestados
  </md-grid-tile>
  <md-grid-tile [rowspan]="3">
    sdfsdfsd
  </md-grid-tile>


  <md-grid-tile [colspan]="2" [rowspan]="3">
  </md-grid-tile>
  <md-grid-tile [rowspan]="3">
    Atestados
  </md-grid-tile>

</md-grid-list>

-->
<div class="text-center">    
  <h3>Controle do projeto GESA</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <app-area></app-area>
      <!--
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      -->
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
  </div>
</div><br>