<md-grid-list cols="2" rowHeight="2:1" gutterSize="5">
    <md-grid-tile [colspan]="1" [rowspan]="1">
        <md-card>
            <app-linechart title="Grafico de linhas" [series]="lineChartValues"></app-linechart>
        </md-card>
    </md-grid-tile>

    <md-grid-tile>
        <md-card>
            <!-- <app-piechart title="Pie Chart" [series]="pieChartSeries"></app-piechart> -->
        </md-card>
    </md-grid-tile>

    <md-grid-tile>
        <md-card>
            <app-solidgaugechart title="Percentual Desembolsado" [series]="solidChartSeries"></app-solidgaugechart>
        </md-card>
    </md-grid-tile>

    <md-grid-tile>
        <md-card>
            4
        </md-card>
    </md-grid-tile>
</md-grid-list>