<section>
  <md-grid-list cols="2" rowHeight="2:1" gutterSize="10">
    <md-grid-tile [colspan]="1" [rowspan]="1">
      <md-card>
        <md-card-content>
          <app-linechart title="Grafico de linhas" [series]="lineChartValues"></app-linechart>
        </md-card-content>
      </md-card>
    </md-grid-tile>

    <md-grid-tile>
      <md-card>
        <app-solidgaugechart title="Percentual Desembolsado" [series]="solidChartSeries"></app-solidgaugechart>
      </md-card>
    </md-grid-tile>

    <md-grid-tile>
      <md-card>
        <app-xychart title="Grafico de linhas" [series]="lineChartValues"></app-xychart>
      </md-card>
    </md-grid-tile>

    <md-grid-tile>
      <md-card>
        <app-splinechart title="Grafico de linhas" [series]="lineChartValues"></app-splinechart>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</section>
