<md-grid-list cols="2" rowHeight="2:1" gutterSize="10">
  <md-grid-tile [colspan]="1" [rowspan]="1">
    <md-card>
      <md-card-content>&nbsp;</md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-content>&nbsp;</md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-content>&nbsp;</md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-content>&nbsp;</md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
