<div class="row">
  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable">
      <ds-previsto-realizado></ds-previsto-realizado>
    </div>
  </div>

  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable">
      Mensagens do POA
    </div>
  </div>

  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable">
      Mensagens do POA
    </div>
  </div>

  <div class="grid-example col s12 m6">
    <div class="card-panel hoverable">
      Mensagens do POA
    </div>
  </div>

</div>